{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Sign In</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="w-full min-h-screen bg-gradient-to-b from-[var(--color-main-50)] to-[var(--color-main-200)] pt-20">
    <div class="flex-grow flex items-center justify-center p-4">
        <div class="w-full max-w-2xl flex bg-white/50 backdrop-blur-sm rounded-3xl shadow-lg overflow-hidden">
            
            <div class="hidden md:block md:w-2/5">
                <img src="{% static 'images/Union.png' %}"
                     alt="Sports Equipment" 
                     class="w-full h-full object-cover"></div>

            <div class="w-full md:w-3/5 p-12">
                <h2 class="text-4xl font-bold text-[var(--color-main-400)] text-center">Sign In</h2>
                <p class="mt-2 mb-8 text-[var(--color-text-400)] text-center">Welcome back to <span class="font-semibold text-[var(--color-main-400)]">SportNet</span></p>

                <form method="POST" action="">
                    {% csrf_token %}

                    <div class="mb-4">
                        <input type="text" name="username" placeholder="Enter your username" 
                            class="w-full rounded-full border border-gray-300 bg-gray-50 px-6 py-2 text-gray-800 placeholder:text-gray-[var(--color-text-200)] placeholder:text-sm focus:outline-none focus:ring-2 focus:ring-orange-400" 
                            required>
                    </div>

                    <div class="mb-8">
                        <input type="password" name="password" placeholder="Enter your password" 
                            class="w-full rounded-full border border-gray-300 bg-gray-50 px-6 py-2 text-gray-800 placeholder:text-gray-[var(--color-text-200)] placeholder:text-sm focus:outline-none focus:ring-2 focus:ring-orange-400" 
                            required>
                    </div>

                    {% if messages %}
                        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-lg relative mb-6" role="alert">
                            {% for message in messages %}
                                <span class="block sm:inline">{{ message }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="flex justify-center">
                    <button type="submit" class="btn px-4 py-1 text-base 
                                                bg-gradient-to-b from-[var(--color-main-300)] to-[var(--color-main-400)] 
                                                text-white border-none shadow-lg
                                                hover:shadow-xl hover:-translate-y-0.5 
                                                transition-all duration-200 ease-in-out">
                        Sign In
                    </button>
                </div>

                </form>

                <p class="text-sm text-center mt-6 text-[var(--color-text-400)]">
                    Don't have an account? 
                    <a href="{% url 'Authenticate:register_role_selection' %}" class="font-semibold text-[var(--color-main-600)] hover:underline text-center">
                        Register Now
                    </a>
                </p>
            </div>

        </div>
    </div>
</div>

{% endblock content %}