{% load static %}
<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

    {% block meta %}{% endblock %}
    {% block extra_head %}{% endblock %}
    </head>
    <body class="min-h-screen antialiased">
    <main class="min-h-screen">
        {% block content %}{% endblock %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    {% block scripts %}
    <script src="{% static 'js/notification.js' %}"></script>
    <script src="{% static 'js/card_event.js' %}"></script>
    {% endblock scripts %}
    </body>
</html>