<nav class="bg-[#d6d1cf] flex justify-between items-center px-8 py-3">
    <h1 class="text-2xl font-bold text-gray-800">Sport<span class="text-gray-700">Net</span></h1>
    <div class="hidden md:flex items-center space-x-8">
          <a href="/" class="text-gray-600 hover:text-gray-900 font-medium transition-colors">
            Home
          </a>
          <a href="#" class="text-gray-600 hover:text-gray-900 font-medium transition-colors">
            Bookmarks
          </a>
          <a href="#" class="text-gray-600 hover:text-gray-900 font-medium transition-colors">
            Profile
          </a>
        </div>
    <div class="flex items-center gap-3">
      <div class="w-6 h-6 rounded bg-gray-600">
        Login
      </div>
      <div class="w-6 h-6 rounded bg-gray-400">
        Register
      </div>

    </div>
  </nav>