<nav class="bg-[#d6d1cf] flex justify-between items-center px-8 py-3">
    <h1 class="text-2xl font-bold text-gray-800">Sport<span class="text-gray-700">Net</span></h1>
    <div class="hidden md:flex items-center space-x-8">
          <a href="/" class="text-gray-600 hover:text-gray-900 font-medium transition-colors">
            Home
          </a>
          <a href="#" class="text-gray-600 hover:text-gray-900 font-medium transition-colors">
            Bookmarks
          </a>
          <a href="#" class="text-gray-600 hover:text-gray-900 font-medium transition-colors">
            Profile
          </a>
          <a href="{% url 'Notification:show_all' %}" class="text-gray-600 hover:text-gray-900 font-medium transition-colors">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6 6 0 00-5-5.917V5a1 1 0 00-2 0v.083A6 6 0 006 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
            </svg>
          </a>
        </div>
    <div class="flex items-center gap-3">
      <div class="flex h-6 rounded bg-gray-600 p-2 justify-center items-center">
        <a href={% url 'Authenticate:login' %}>Login</a>
      </div>
      <div class="flex h-6 rounded bg-gray-400 p-2 justify-center items-center">
        <a href={% url 'Authenticate:register_participant' %}>Register</a>
      </div>

    </div>
  </nav>